* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }
  
  /* #endregion Common */
  /* #region Utility */
  .container {
    width: 70%;
    max-width: 1176px;
    margin: auto
  }
  
  .container-sm {
    width: 60%;
    max-width: 1000px;
    margin: 1rem auto;
  }
  
  .row {
    display: flex;
    flex: wrap;
    gap: 1rem
  }
  
  .col-3 {
    width: calc(100% / 12 * 3);
    
  }
  
  .col-6 {
    width: calc(100% / 12 * 6);
  }
  
  .col-9 {
    width: calc(100% / 12 * 9);
  }
 
  .text1, .text2 {
    margin-top: 2rem;
    width: 300px;
  }
  .text1 > h2, .text2 > h2{
    margin-bottom: 1rem;

  }
  .text1 > p, .text2 > p{
    font-size: 13px;
  }
  .contents > h2 {
    margin-bottom: 1rem;
  }
  .contents > p{
    font-size: 13px;
    margin-bottom: 1rem;
  }
  .d-flex {
    display: flex;
  }
  
  .bg_secondary {
    background-color: #F6F6F6;
  }
  
  .py_2 {
    padding: 2rem 0;
  }
  
  .space-between {
    justify-content: space-between;
  }
  /* #endregion Utility */
  /* #region Debug */

  .debug>header{
    height: 400px;

  }
  

  .debug>footer {
    height: 350px;
    background-color: #23272A;
  }
  
  nav {
    height: 80px;
  }
  
  header .logo{
    margin-top: 1rem;
  }
header .menu  {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 1.2rem;
 }
header .menu a{
    text-decoration: none;
    color: white;
    padding: 0 5px;
  }
  header .login {
    margin-top: 1rem;
  }
  header .login .btn {
    padding: 5px;
    border-radius: 40px;
    border: 1px;
    cursor: pointer;
  }
  
  .container-sm {
    height: 400px;
    text-align: center;
    color: white;
  }
  .container-sm h1 {
    margin-bottom: 1.5rem;
  }
  
  .contents {
    text-align: center;
    height: 500px;
    
  }
  
  /* #endregion Debug */
  
  /* #region Header */
  #site_header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btn-flex{
    margin-top: 1rem;
    justify-content: space-around ;
  }
  .btn-mac{
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 40px ;
    font-size: 20px;
    cursor: pointer;
  }
.btn-open{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}


  header .logo,
  header .login {
    flex-grow: 1;
  }
  
  header .menu {
    flex-grow: 2;
  }
  
  /* #endregion Header */
  /* #region Main */
  
  main section {
    padding: 2rem 0;
  }
  .first {
    display: block;
    margin-top: -3rem;
    margin-right: auto;
    width: 550px;
    height: 400px;
    padding-bottom: 1rem;
  }
  .second{
    display: block;
    margin-left: auto;
    margin-top: -4rem;
    width: 550px;
    height: 400px;
  }
  .therd{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4rem;
    width: 550px;
    height: 400px;
  }
  .btn-mac2{
    margin-top: 1rem;
    padding: 20px;
    background-color: #7289DA;
    border: 1px solid #7289DA;
    border-radius: 40px ;
    font-size: 15px;
    cursor: pointer;
  }
  .contents > h3{
    margin-top: -2rem;
  }
  
  /* #endregion Main */
  /* #region Footer */


  .logo_language{
    margin-top: 0.5rem;
    width: 20px;
    height: 15px;

  }
  .language > span{
    font-size: 12px;
    color: white;
  }
  i{
    margin-top: 0.5rem;
    padding-right: 10px;
    color: white;
  }
  footer .footer_bottom {
    padding: 1rem 0;
  }
  .col-3 > h3{
    color: #7289DA;
  }
  .col-3 > p{
    color: white;
    font-size: 12px;
  }
  p > span {
    color: #7289DA;
  }
.btn-register{
    padding: 5px;
    background-color: #7289DA;
    border: 1px solid #7289DA;
    color: white;
    border-radius: 40px ;
    font-size: 15px;
    cursor: pointer;
  }


  /* #endregion Footer */