* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* #endregion Common */
  /* #region Utility */
  .container {
    width: 70%;
    max-width: 1176px;
    margin: auto
  }
  
  .container-sm {
    width: 60%;
    max-width: 1000px;
    margin: 1rem auto;
  }
  
  .row {
    display: flex;
    flex: wrap;
    gap: 1rem
  }
  
  .col-3 {
    width: calc(100% / 12 * 3);
  }
  
  .col-6 {
    width: calc(100% / 12 * 6);
  }
  
  .col-9 {
    width: calc(100% / 12 * 9);
  }
  
  
  .d-flex {
    display: flex;
  }
  
  .bg_secondary {
    background-color: lightgray;
  }
  
  .py_2 {
    padding: 2rem 0;
  }
  
  .space-between {
    justify-content: space-between;
  }
  .debug{
    font-family: 'Montserrat', sans-serif;
  }
  .btn-flex{
    margin-top: 1rem;
    justify-content: space-around ;
  }
  .btn-mac{
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50% ;
    font-size: 20px;
  }
.btn-open{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 50% ;
    font-size: 20px;
}
  
  /* #endregion Utility */
  /* #region Debug */

  .debug>header{
    height: 400px;

  }
  

  .debug>footer {
    height: 550px;
    background-color: red;
  }
  
  .debug nav {
    height: 80px;
  }
  
  .debug header .logo{
    margin-top: 1rem;
  }
  .debug header .menu  {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 1.2rem;
  }
  .debug header .menu a{
    text-decoration: none;
    color: white;
    padding: 0 5px;
  }
  .debug header .login {
    margin-top: 1rem;
  }
  .debug header .login .btn {
    padding: 5px;
    border-radius: 30%;
    border: 1px;
  }
  
  .debug .container-sm {
    height: 400px;
    text-align: center;
    color: white;
  }
  .debug .container-sm h1 {
    margin-bottom: 1.5rem;
  }
  .debug [class^="col"] {
    height: 300px;
    background-color: rgb(0, 183, 255);
  }
  
  .debug .contents {
    height: 400px;
    background-color: green;
  }
  
  /* #endregion Debug */
  
  /* #region Header */
  #site_header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }



  header .logo,
  header .login {
    flex-grow: 1;
  }
  
  header .menu {
    flex-grow: 2;
  }
  
  /* #endregion Header */
  /* #region Main */
  
  main section {
    padding: 2rem 0;
  }
  
  /* #endregion Main */
  /* #region Footer */
  
  footer .footer_bottom {
    padding: 1rem 0;
  }
  
  /* #endregion Footer */